# Dependency directories
node_modules/

# zip file for uploading to aws
package.zip
source.zip
node_modules.zip

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# credential .tfvars files
*.tfvars